/* styles/main.css */

.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  text-align: center;
}

.search-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;  
}

.search-icon img {
  width: 72px;
  height: 72px;
}

.suggestions {
  margin: 40px 0;
}
.suggestions h2 {font-size: 20px; padding-bottom: 20px;}

.topic-buttons {
  display: flex;
  gap: 20px;
}

.topic {
  border: 1px solid var(--main);
  padding: 10px 20px;
  background: white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

/* .prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid var(--main);
  border-radius:120px;
  box-shadow: 2px 4px 0px var(--point);
} */

