.right-panel {
  width: 50%;
  padding: 20px;
  background-color: #ffffff;
  position: relative;
}

.units-list {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.unit {
  padding: 5px;
  background-color: #ddd;
  margin-bottom: 5px;
  border-radius: 5px;
}
